@page "/access-denied"

<PageTitle>Access Denied</PageTitle>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-danger text-center">
                <h4 class="alert-heading">Access Denied</h4>
                <p>You do not have permission to view this page.</p>
                <hr />
                <p class="mb-0">Please contact your administrator if you believe this is an error.</p>
            </div>
        </div>
    </div>
</div>
